<a href="https://colab.research.google.com/github/omanofx/portfolio/blob/main/data_wrangling/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Author: Omar Fern√°ndez

![data_science_map.webp]()

# The Project

# Table of Contents

1. Executive Summary
1. Introduction
  1. Objective of the project
  1. Stakeholders
  1. Project Scope
  1. Assumptions and limitations
  1. Analysis to be performed
  1. Solution
1. Analytical context
  1. Requirements
  1. The Dataset
  1. Data set structure
  1. Data dimensions
  1. Libraries used
  1. Setting
  1. Functions
1. Data acquisition
  1. Github
  1. External data (API)
  1. Backup
1. Data wrangling
  1. Main data set
  1. Target variable
  1. Feature Reduction
  1. Duplicate values
  1. NaN values
  1. Wrong values
  1. Transformation of data types
  1. Categorical variable labeling
  1. Attribute engineering
  1. Outliers
  1. z-score method
  1. IQR method
  1. Secondary data set (optional)
  1. Save files
1. Exploratory Data Analysis (EDA)
  1. EDA Conclusions
1. Feature Selection
  1. Correlation matrix
  1. Stepwise
1. Model training
  1. Split the dataframe
1. Massive model training
  1. Models: Configuration
  1. Comparison
  1. ROC Raven
  1. Bias and Variance
1. Final project results
1. Conclusions and final recommendations
1. References
1. Change log

# Analytical context

## The dataset

This spreadsheet shows historical alternative fueling station counts by state on an annual basis since December 2007. This data is based on the number of public and private (non-residential) stations in the Alternative Fuels Data Center (AFDC) Alternative Fueling Station Locator (https://afdc.energy.gov/stations/) near the end of December each year. You can see total fuel type counts in the "Total" row at the bottom of each tab.

Note that changes in total counts represent both stations that opened and went out of service. For example, if the number of stations increased from 200 to 210 in one year, it could have been that 15 stations opened and 5 stations went out of service.

Please note the following regarding counts for the electric vehicle (EV) charging station data:
 - **Starting in 2011**, EV charging was counted by the outlet rather than by the geographical location.
 - **Beginning in 2014**, the historical data for EV charging includes both the number of EV charging station locations and the number of outlets at each location.  
 - **Starting in 2020**, EV charging data is provided by charger level.

Please note the following regarding counts for propane station data:
 - Starting in 2020, propane station data is broken down by primary or secondary designations.

 Link to original data set: https://www.kaggle.com/datasets/saketpradhan/electric-and-alternative-fuel-charging-stations

## Libraries used

In [1]:
# Visualizaci√≥n de datos
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Manipulaci√≥n y an√°lisis de datos
import numpy as np
import pandas as pd

# Otros
import datetime
from datetime import datetime, timedelta
# Configura la zona horaria local
import pytz

# Configuraci√≥n adicional
%matplotlib inline

# Import warnings module
import warnings
warnings.filterwarnings('ignore')

# File import
import requests
from openpyxl import load_workbook
from io import BytesIO

## Setting

In [2]:
# Configura la zona horaria local
time_zone = pytz.timezone('America/Argentina/Buenos_Aires')
formato_fecha_hora = '%Y-%m-%d %H:%M:%S'

## Functions

In [ ]:
def corregir_columnas(df_temp: pd.DataFrame, column_mapping):
    total_columnas = len(df_temp.columns)
    columns_ok = 1

    for i in range(total_columnas):
        if df_temp.columns[i] in column_mapping[i]:
            continue
        else:
            print(f"columna incorrecta: {df_temp.columns[i]}")

            # Obtener el nombre correcto de la columna del diccionario
            nombre_correcto = column_mapping.get(i)

            if nombre_correcto:
                df_temp.rename(columns={df_temp.columns[i]: nombre_correcto}, inplace=True)
                print("Corregida!")
                columns_ok = 0
            else:
                print("No hay mapeo encontrado.")

    if columns_ok:
          columns_ok = 1
          print("Columnas OK.")

    return

In [3]:
def fecha_hora_local(local_timezone: pytz.timezone = pytz.timezone('America/Argentina/Buenos_Aires')):
    '''
    Esta funci√≥n muestra la fecha y hora local cada vez que es invocada.
    :param local_timezone: La zona horaria local deseada (por defecto, 'America/Argentina/Buenos_Aires').
    :return: La fecha y hora local en el formato especificado.
    '''
    try:
        # Obtiene la hora local actual en UTC
        utc_now = datetime.utcnow()

        # Convierte la hora actual a la hora local
        local_time = utc_now.replace(tzinfo=pytz.utc).astimezone(local_timezone)

        # Formato de salida para la fecha y hora local
        formato_fecha_hora = "%Y-%m-%d %H:%M:%S"

        # Retorna la fecha y hora local formateada
        return local_time.strftime(formato_fecha_hora)

    except Exception as e:
        # En caso de error, imprime el error y retorna None
        print("Error al obtener la fecha y hora local:", str(e))
        return None

In [4]:
def tiene_espacios_en_blanco(columna: str) -> bool:
    '''
    Verifica si una columna contiene espacios en blanco.
    :param columna: La columna a ser verificada (str).
    :return: True si la columna contiene al menos un espacio en blanco, False de lo contrario.
    '''
    try:
        # Utiliza una expresi√≥n generadora y la funci√≥n any para verificar si
        # alguno de los caracteres es un espacio en blanco
        return any(caracter.isspace() for caracter in columna)

    except Exception as e:
        # En caso de error, imprime el error y retorna False
        print("Error al verificar espacios en blanco en la columna:", str(e))
        return False

In [5]:
def analizar_dataframe(df1: pd.DataFrame, porcentaje_tolerancia: float):
    '''
    ## Esta funci√≥n se utiliza para comprobar la consistencia de los datos de un DataFrame
    ### evita invocar a .info(), .isnull()
    #### Porcentaje de tolerancia: valor porcentual que se tolera para los valores nulos de
    #### cada caracteristica del DataFrame. Si el valor se encuentra por sobre la tolerancia,
    #### se indica como 'BORRAR' la caracteristica.
    #### Version 2.0
    '''
    # Validar que porcentaje_tolerancia est√© entre 0 y 100
    if not (0 <= porcentaje_tolerancia <= 100):
        print("Error: El porcentaje de tolerancia debe estar entre 0 y 100.")
        return

    porcentaje_perdidos = df1.isnull().sum() * 100 / len(df1)
    total_nulos = df1.isnull().sum()
    tipo_dato = df1.dtypes
    valores_no_nulos_por_columna = df1.count()
    descripcion = df1.describe().transpose()
    es_categorica = [True if tipo == 'object' else False for tipo in tipo_dato]
    total_ceros_por_columna = [(columna, (df1[columna] == 0).sum()) for columna in df1.columns]

    resultado_analisis = pd.DataFrame({
        'Tipo de dato': tipo_dato,
        'Total No Nulos': valores_no_nulos_por_columna,
        'Total Nulos': total_nulos,
        '% Nulos': round(porcentaje_perdidos, 2),
        'Borrar?': np.where(porcentaje_perdidos > porcentaje_tolerancia, 'BORRAR', ''),
        'Total Ceros': [total for columna, total in total_ceros_por_columna],
        'Columna con Espacios': df1.columns.to_series().apply(lambda x: tiene_espacios_en_blanco(x))
    })

    # Agregar las columnas de la descripci√≥n al resultado_analisis
    resultado_analisis = pd.concat([resultado_analisis, round(descripcion, 2)], axis=1)

    estilo_resultado = (
        resultado_analisis.style
        .applymap(lambda x: 'background-color: green' if x == 'object' else '',
                  subset=['Tipo de dato'])
        .applymap(lambda x: 'background-color: red' if x > porcentaje_tolerancia else '',
                  subset=pd.IndexSlice[resultado_analisis[resultado_analisis['% Nulos'] > porcentaje_tolerancia].index, '% Nulos'])
        .background_gradient(cmap='Reds', subset=['% Nulos'])
        .applymap(lambda x: 'background-color: red' if x else '',
                  subset=pd.IndexSlice[resultado_analisis[resultado_analisis['Columna con Espacios']].index, 'Columna con Espacios'])
        .background_gradient(cmap='Reds', subset=['Columna con Espacios'])
    )

    return estilo_resultado

In [6]:
def grabar_csv(nombre_archivo: str, df: pd.DataFrame):
    '''
    Almacena f√≠sicamente los datos obtenidos en un archivo CSV.
    :param nombre_archivo: El nombre base del archivo CSV.
    :param df: El DataFrame que se desea guardar en el archivo CSV.
    '''
    try:
        # Obtiene la fecha y hora actual para agregarla al nombre del archivo
        fecha_y_hora_actual = fecha_hora_local(time_zone)

        # Especifica la ruta y el nombre del archivo CSV
        ruta_archivo_csv = f"{nombre_archivo}_{fecha_y_hora_actual}.csv"

        # Guarda el DataFrame en un archivo CSV sin incluir el √≠ndice
        df.to_csv(ruta_archivo_csv, index=False)

        # Imprime la fecha y hora de guardado y la ruta del archivo
        print("Fecha y hora:", fecha_y_hora_actual)
        print(f"Los datos se han guardado en el archivo CSV: {ruta_archivo_csv}")

    except Exception as error:
        # Maneja cualquier error que pueda ocurrir durante el proceso de guardado
        print(f"Ocurri√≥ un error al guardar los datos en el archivo CSV: {error}")

In [7]:
def validar_rango_datos(df, column_name, min_value, max_value):
    """
    Funci√≥n para verificar si hay valores fuera de un rango especificado en una columna de un DataFrame.

    Par√°metros:
    - df: DataFrame de pandas.
    - column_name: Nombre de la columna que se va a verificar.
    - min_value: Valor m√≠nimo permitido en la columna.
    - max_value: Valor m√°ximo permitido en la columna.

    Retorna:
    - filtered_values: DataFrame que contiene las filas con valores fuera del rango especificado.
    """
    # Filtrar los valores que est√°n fuera del rango especificado
    filtered_values = df[(df[column_name] < min_value) | (df[column_name] > max_value)]

    # Verificar si no hay errores
    if filtered_values.empty:
        print('Esta caracter√≠stica no presenta errores')
        return None
    else:
        print('Se detectaron errores:')
        return filtered_values

In [8]:
def calcular_porcentage(df: pd.DataFrame, column_name: str):
    """
    Calcula el porcentaje de cada valor √∫nico en una columna de un DataFrame.

    Par√°metros:
    df (pandas.DataFrame): El DataFrame que contiene los datos.
    column_name (str): El nombre de la columna para la cual se calcular√°n los porcentajes.

    Retorna:
    pandas.Series: Una serie que contiene los porcentajes de cada valor √∫nico en la columna.
    """
    # Verificar si la columna existe en el DataFrame
    if column_name not in df.columns:
        print(f"La columna '{column_name}' no existe en el DataFrame.")
        return None

    # Obtener recuentos de valores √∫nicos en la columna
    value_counts = df[column_name].value_counts()

    # Calcular los porcentajes
    percentages = (value_counts / len(df[column_name])) * 100

    # Asignar un nombre al √≠ndice para mayor claridad
    percentages = percentages.rename_axis(column_name)

    return percentages

# Data acquisition

## Github

## Read the charging stations csv file

In [45]:
try:
    df_stations = pd.read_csv('https://raw.githubusercontent.com/omanofx/portfolio/main/data_wrangling/electric_and_alternative_fuel_charging_stations.csv', sep =",")
    print("CSV file has been uploaded successfully.")

except Exception as e:
    print("An error occurred while uploading the CSV file:", e)

print(fecha_hora_local())

CSV file has been uploaded successfully.
2024-04-17 10:29:12

## Read the historical excel file

In [46]:
# URL del archivo .xlsx en GitHub
url = 'https://github.com/omanofx/portfolio/raw/main/data_wrangling/historical_station_counts_by_state_2007_2021.xlsx'

try:
    # Realizar la solicitud GET al archivo en GitHub
    respuesta = requests.get(url)

    # Verificar si la solicitud fue exitosa (c√≥digo de estado 200)
    if respuesta.status_code == 200:
        # Leer el contenido del archivo .xlsx en un objeto BytesIO
        contenido_xlsx = BytesIO(respuesta.content)

        # Cargar el archivo .xlsx desde el objeto BytesIO
        libro_trabajo = load_workbook(contenido_xlsx, data_only=True)

        # Seleccionar la hoja de trabajo (worksheet) que deseas leer
        hoja = libro_trabajo.active

        print("File read successfully.")

        # Cerrar el archivo xlsx despu√©s de usarlo
        libro_trabajo.close()
    else:
        print("Could not get the .xlsx file from GitHub. Status code:", respuesta.status_code)

except Exception as e:
    print("An error occurred:", e)

print(fecha_hora_local())

File read successfully.
2024-04-17 10:29:25

Revision de datos

In [47]:
print("The original sheets:")
print(libro_trabajo.get_sheet_names())

The original sheets:
['About the Data', '2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007']

In [48]:
# Get the worksheet object for the sheet named "About the Data"
worksheet = libro_trabajo.get_sheet_by_name("About the Data")

# Remove the worksheet
libro_trabajo.remove_sheet(worksheet)

#libro_trabajo.remove_sheet(worksheet)
print(f"These are the sheets available now in the file: \n", libro_trabajo.get_sheet_names())

These are the sheets available now in the file:
 ['2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007']

In [13]:
'''
df_years = pd.DataFrame()
sheet_name = 2007

# Leer cada hoja del libro de trabajo
for sheet_name in libro_trabajo.sheetnames:
    sheet = libro_trabajo[sheet_name]
    print(f"Reading sheet: {sheet_name}")

    df = pd.read_excel(libro_trabajo, sheet_name = sheet_name, engine='openpyxl', header= 1, )
    df['year'] = int(sheet_name)  # Asignar el a√±o correspondiente a la columna 'year' en df

    df_years = pd.concat([df_years, df], ignore_index=True)

#print(df_years.head())
'''

'\ndf_years = pd.DataFrame()\nsheet_name = 2007\n\n# Leer cada hoja del libro de trabajo\nfor sheet_name in libro_trabajo.sheetnames:\n    sheet = libro_trabajo[sheet_name]\n    print(f"Reading sheet: {sheet_name}")\n\n    df = pd.read_excel(libro_trabajo, sheet_name = sheet_name, engine=\'openpyxl\', header= 1, )\n    df[\'year\'] = int(sheet_name)  # Asignar el a√±o correspondiente a la columna \'year\' en df\n\n    df_years = pd.concat([df_years, df], ignore_index=True)\n\n#print(df_years.head())\n'

## Process the historical excel file

Take the data from each sheet.

In [49]:
# Crear un DataFrame vac√≠o
df_hojas = pd.DataFrame()

# Especifica la ruta de tu archivo Excel
archivo_excel = url

# Lee el archivo Excel
excel_file = pd.ExcelFile(archivo_excel)

# Obtiene los nombres de las hojas en el archivo Excel
hojas = excel_file.sheet_names

# Elimina la primera hoja
hojas.remove("About the Data")

In [50]:
# Algunas hojas tienen el nombre mal, utiliza una lista de validaci√≥n
column_mapping = {
    0: 'State',
    1: 'Biodiesel',
    2: 'CNG',
    3: 'E85',
    4: 'Electric',
    5: 'Hydrogen',
    6: 'LNG',
    7: 'Propane',
    8: 'Total'
}

In [135]:
# BORRAR
hojas.clear()

# verde
hojas.append("2007")
'''
hojas.append("2008")
hojas.append("2009")
hojas.append("2010")
hojas.append("2011")
hojas.append("2012")
hojas.append("2013")

# amarillo
hojas.append("2014")
hojas.append("2015")
hojas.append("2016")
hojas.append("2017")
hojas.append("2018")
hojas.append("2019")
'''
# rojo
hojas.append("2020")
hojas.append("2021")

In [145]:
hoja ='2019'
df_hojas = pd.read_excel(archivo_excel, sheet_name = hoja, header = 1)

# Validar nombre de columnas
corregir_columnas(df_hojas, column_mapping)

# Eliminar registros con todas las columnas NaN
df_hojas = df_hojas.dropna(how='all')

# elimina los registro cuando las columnas 'State' y 'Total' sean NaN
df_hojas = df_hojas.dropna(subset=['State', 'Total'])
df_hojas.drop(df_hojas[df_hojas['State'] == 'Total'].index, inplace=True)

# Agregar una nueva columna 'Year' con el nombre de la hoja
df_hojas['Year'] = int(hoja)

df_hojas = df_hojas.replace('/', '|', regex=True)
df_hojas = df_hojas.replace(',', '', regex=True)
df_hojas

Columnas OK.

,State,Biodiesel,CNG,E85,Electric,Hydrogen,LNG,Propane,Total,Year
0,Alabama,10.0,27.0,34.0,195 | 506,0.0,2.0,72.0,651.0,2019
2,Alaska,0.0,1.0,0.0,19 | 34,0.0,0.0,5.0,40.0,2019
4,Arizona,78.0,30.0,22.0,522 | 1476,1.0,8.0,75.0,1690.0,2019
6,Arkansas,3.0,16.0,47.0,98 | 290,0.0,1.0,37.0,394.0,2019
8,California,29.0,321.0,195.0,6435 | 27128,48.0,44.0,273.0,28038.0,2019
10,Colorado,8.0,35.0,84.0,861 | 2516,1.0,1.0,52.0,2697.0,2019
12,Connecticut,2.0,17.0,3.0,422 | 1048,2.0,0.0,21.0,1093.0,2019
14,Delaware,1.0,2.0,1.0,57 | 172,1.0,0.0,9.0,186.0,2019
16,District of Columbia,7.0,2.0,3.0,172 | 553,1.0,0.0,0.0,566.0,2019
18,Florida,10.0,61.0,88.0,1562 | 4562,0.0,3.0,134.0,4858.0,2019
20,Georgia,6.0,50.0,52.0,882 | 2939,0.0,4.0,89.0,3140.0,2019
22,Hawaii,7.0,0.0,2.0,296 | 666,2.0,1.0,2.0,680.0,2019
24,Idaho,0.0,11.0,4.0,95 | 216,0.0,0.0,30.0,261.0,2019
26,Illinois,19.0,42.0,279.0,663 | 1864,0.0,2.0,100.0,2306.0,2019
28,Indiana,3.0,34.0,221.0,239 | 614,0.0,1.0,65.0,938.0,2019
30,Iowa,11.0,11.0,300.0,141 | 348,0.0,0.0,34.0,704.0,2019
32,Kansas,1.0,21.0,38.0,234 | 904,0.0,1.0,37.0,1002.0,2019
34,Kentucky,3.0,10.0,71.0,133 | 315,0.0,2.0,32.0,433.0,2019
36,Louisiana,2.0,23.0,14.0,107 | 293,0.0,1.0,59.0,392.0,2019
38,Maine,4.0,1.0,1.0,184 | 433,0.0,0.0,13.0,452.0,2019
40,Maryland,11.0,13.0,39.0,738 | 2110,0.0,0.0,31.0,2204.0,2019
42,Massachusetts,10.0,15.0,6.0,811 | 2455,2.0,1.0,32.0,2521.0,2019
44,Michigan,9.0,21.0,241.0,616 | 1429,2.0,0.0,100.0,1802.0,2019
46,Minnesota,16.0,26.0,430.0,380 | 1051,0.0,0.0,47.0,1570.0,2019
48,Mississippi,2.0,6.0,6.0,81 | 292,0.0,2.0,83.0,391.0,2019
50,Missouri,2.0,20.0,111.0,452 | 1895,0.0,1.0,73.0,2102.0,2019
52,Montana,3.0,1.0,1.0,55 | 137,0.0,0.0,41.0,183.0,2019
54,Nebraska,3.0,8.0,97.0,95 | 238,0.0,1.0,28.0,375.0,2019
56,Nevada,2.0,6.0,12.0,284 | 927,0.0,1.0,28.0,976.0,2019
58,New Hampshire,2.0,4.0,0.0,121 | 244,0.0,0.0,27.0,277.0,2019
60,New Jersey,4.0,27.0,6.0,457 | 1297,0.0,0.0,17.0,1351.0,2019
62,New Mexico,3.0,11.0,14.0,82 | 245,0.0,1.0,62.0,336.0,2019
64,New York,34.0,69.0,71.0,1655 | 4531,1.0,0.0,59.0,4765.0,2019
66,North Carolina,114.0,40.0,89.0,732 | 1903,0.0,2.0,75.0,2223.0,2019
68,North Dakota,2.0,1.0,41.0,28 | 46,0.0,0.0,24.0,114.0,2019
70,Ohio,13.0,60.0,180.0,540 | 1342,1.0,5.0,90.0,1691.0,2019
72,Oklahoma,3.0,118.0,56.0,131 | 309,0.0,1.0,130.0,617.0,2019
74,Oregon,47.0,16.0,9.0,721 | 1893,0.0,2.0,57.0,2024.0,2019
76,Pennsylvania,5.0,88.0,125.0,572 | 1475,0.0,3.0,107.0,1803.0,2019
78,Rhode Island,5.0,4.0,0.0,113 | 407,0.0,0.0,4.0,420.0,2019
80,South Carolina,34.0,12.0,53.0,286 | 643,1.0,1.0,59.0,803.0,2019
82,South Dakota,0.0,0.0,83.0,41 | 127,0.0,0.0,23.0,233.0,2019
84,Tennessee,8.0,24.0,73.0,453 | 1207,0.0,4.0,65.0,1381.0,2019
86,Texas,22.0,108.0,232.0,1376 | 4009,0.0,16.0,460.0,4847.0,2019
88,Utah,0.0,51.0,2.0,289 | 950,0.0,2.0,39.0,1044.0,2019
90,Vermont,2.0,3.0,0.0,237 | 664,0.0,0.0,1.0,670.0,2019
92,Virginia,10.0,24.0,58.0,710 | 2056,0.0,2.0,88.0,2238.0,2019
94,Washington,37.0,24.0,20.0,1095 | 3206,1.0,1.0,82.0,3371.0,2019
96,West Virginia,0.0,3.0,34.0,89 | 244,0.0,0.0,14.0,295.0,2019
98,Wisconsin,4.0,50.0,227.0,345 | 711,0.0,1.0,66.0,1059.0,2019
100,Wyoming,0.0,8.0,11.0,57 | 159,0.0,0.0,25.0,203.0,2019

In [ ]:
# Dividir los valores de 'Electric' en nuevas columnas
nuevas_columnas_electric = df_hojas['Electric'].str.split('|', expand=True)


nuevas_columnas_electric.columns = ['Electric_station', 'Electric_outlets']

# Concatenar las nuevas columnas al DataFrame original
df_hojas = pd.concat([df_hojas, nuevas_columnas_electric], axis=1)

df_hojas

In [113]:
# Lista para almacenar los DF procesados
list_of_df = []

try:
    print(" --- Inicio de Loop --- ")
    for hoja in hojas:
        print("Procesando la hoja: " + hoja)
        print(50 * "-")
        # Bandera para indicar si los nombres de las columnas son correctos.
        columns_ok = 1
        df_hojas = pd.read_excel(archivo_excel, sheet_name = hoja, header = 1)

        total_columnas = df_hojas.shape[1]

        # Eliminar registros con todas las columnas NaN
        df_hojas = df_hojas.dropna(how='all')

        mascara = (df_hojas['State'].str.len() < 50) | (df_hojas['State'].isna())
        # Aplicamos la m√°scara para mantener solo las filas que cumplan con la condici√≥n
        df_hojas = df_hojas[mascara]

        # Validar y corregir el nombre de las columnas
        corregir_columnas(df_hojas, column_mapping)

        # Agregar una nueva columna 'Year' con el nombre de la hoja
        df_hojas['Year'] = int(hoja)

        # Agregar el DataFrame a la lista
        list_of_df.append(df_hojas)

        print()

    print(" --- Completado loop --- ")

    # Concatenar todos los DataFrames en la lista
    df_final = pd.concat(list_of_df, ignore_index=True)

    print("Eliminando los comentarios")
    #df_final = df_final[df_final['State'].str.len() <= 50]

    print("Eliminando registro Total")
    df_final.drop(df_final[df_final['State'] == 'Total'].index, inplace=True)

    print("Reemplazar caracteres '/', ','" )
    df_final = df_final.replace('/', '|', regex=True)
    df_final = df_final.replace(',', '', regex=True)

    # Reindexar el DataFrame final
    print("Reindexando el DataFrame final")
    df_final.reset_index(drop=True, inplace=True)

    # Convertir columnas a tipo entero si es necesario
    #columnas_entero = ['Biodiesel', 'CNG', 'E85', 'Electric', 'Hydrogen', 'LNG', 'Propane', 'Total']
    #df_final[columnas_entero] = df_final[columnas_entero].astype(int)

    print(fecha_hora_local())
except Exception as e:
    print("An error occurred:", e)

 --- Inicio de Loop ---
Procesando la hoja: 2007
--------------------------------------------------
Columnas OK.

Procesando la hoja: 2020
--------------------------------------------------
columna incorrecta: Electrica
Corregida!
columna incorrecta: Hydrogenb
Corregida!
columna incorrecta: Propanec
Corregida!

Procesando la hoja: 2021
--------------------------------------------------
columna incorrecta: Electrica
Corregida!
columna incorrecta: Hydrogenb
Corregida!
columna incorrecta: Propanec
Corregida!
columna incorrecta: Totald
Corregida!

 --- Completado loop ---
Eliminando los comentarios
Eliminando registro Total
Reemplazar caracteres '/', ','
Reindexando el DataFrame final
2024-04-17 11:27:24

In [114]:
df_final

,State,Biodiesel,CNG,E85,Electric,Hydrogen,LNG,Propane,Total,Year
0,Alabama,13.0,3.0,3.0,0.0,0.0,0.0,52.0,71.0,2007
1,Alaska,0.0,1.0,0.0,0.0,0.0,0.0,10.0,11.0,2007
2,Arizona,10.0,37.0,13.0,12.0,1.0,3.0,58.0,134.0,2007
3,Arkansas,3.0,3.0,4.0,0.0,0.0,0.0,41.0,51.0,2007
4,California,39.0,186.0,6.0,367.0,23.0,29.0,206.0,856.0,2007
...,...,...,...,...,...,...,...,...,...,...
254,Wisconsin,4.0,43.0,261.0,474 | 949,0 | 0 | 0,1.0,17 | 35 | 52,1310.0,2021
255,NaN,NaN,NaN,NaN,80 | 687 | 182,NaN,NaN,NaN,NaN,2021
256,Wyoming,0.0,9.0,9.0,70 | 184,0 | 0 | 0,0.0,6 | 14 | 20,222.0,2021
257,NaN,NaN,NaN,NaN,6 | 101 | 77,NaN,NaN,NaN,NaN,2021
258,NaN,NaN,NaN,NaN,3448 | 103190 | 21782,NaN,NaN,NaN,NaN,2021

ESTE CODIGO FUNCIONA OK

In [ ]:
# Lista para almacenar los DF procesados
list_of_df = []

try:
    print(" --- Inicio de Loop --- ")
    for hoja in hojas:
        print("Procesando la hoja: " + hoja)
        print(50 * "-")
        # Bandera para indicar si los nombres de las columnas son correctos.
        columns_ok = 1
        df_hojas = pd.read_excel(archivo_excel, sheet_name = hoja, header = 1)

        total_columnas = df_hojas.shape[1]

        corregir_columnas(df_hojas, column_mapping)

        for i in range(total_columnas):
            if df_hojas.columns[i] in column_mapping[i]:
                #print(f"columna correcta: {df_hojas.columns[i]}")
                continue
            else:
                print(f"columna incorrecta: {df_hojas.columns[i]}")

                # Obtener el nombre correcto de la columna del diccionario
                nombre_correcto = column_mapping.get(i)

                if nombre_correcto:
                    df_hojas.rename(columns={df_hojas.columns[i]: nombre_correcto}, inplace=True)
                    print("Corregida!")
                    columns_ok = 0
                else:
                    print("No hay mapeo encontrado.")

        if columns_ok:
          columns_ok = 1
          print("Columnas OK.")
          #print(f"Total registros/columnas:", df_hojas.shape)

        # Eliminar registros con todas las columnas NaN
        #df_hojas = df_hojas.dropna(how='all')

        # Agregar una nueva columna 'Year' con el nombre de la hoja
        df_hojas['Year'] = int(hoja)

        # Agregar el DataFrame a la lista
        list_of_df.append(df_hojas)

        print()

    print(" --- Completado loop --- ")

    # Concatenar todos los DataFrames en la lista
    df_final = pd.concat(list_of_df, ignore_index=True)

    print("Eliminando los comentarios")
    df_final = df_final[df_final['State'].str.len() <= 50]

    print("Eliminando registro Total")
    df_final.drop(df_final[df_final['State'] == 'Total'].index, inplace=True)

    print("Reemplazar caracteres '/', ','" )
    df_final = df_final.replace('/', '|', regex=True)
    df_final = df_final.replace(',', '', regex=True)

    # Reindexar el DataFrame final
    print("Reindexando el DataFrame final")
    df_final.reset_index(drop=True, inplace=True)

    # Convertir columnas a tipo entero si es necesario
    #columnas_entero = ['Biodiesel', 'CNG', 'E85', 'Electric', 'Hydrogen', 'LNG', 'Propane', 'Total']
    #df_final[columnas_entero] = df_final[columnas_entero].astype(int)

    print(fecha_hora_local())
except Exception as e:
    print("An error occurred:", e)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 50)

In [61]:
df_final

,State,Biodiesel,CNG,E85,Electric,Hydrogen,LNG,Propane,Total,Year
0,Alabama,10.0,30.0,29.0,223 | 596,0 | 0 | 0,2.0,24 | 45 | 69,736.0,2020
1,Alaska,0.0,1.0,0.0,25 | 45,0 | 0 | 0,0.0,1 | 2 | 3,49.0,2020
2,Arizona,75.0,30.0,20.0,574 | 1778,0 | 1 | 1,7.0,28 | 50 | 78,1989.0,2020
3,Arkansas,3.0,15.0,50.0,112 | 350,0 | 0 | 0,1.0,9 | 27 | 36,455.0,2020
4,California,27.0,322.0,198.0,7671 | 34622,43 | 6 | 49,41.0,87 | 181 | 268,35527.0,2020
...,...,...,...,...,...,...,...,...,...,...
97,Virginia,7.0,23.0,64.0,1139 | 3301,0 | 1 | 1,1.0,36 | 49 | 85,3482.0,2021
98,Washington,25.0,24.0,14.0,1775 | 4328,0 | 1 | 1,1.0,52 | 26 | 78,4471.0,2021
99,West Virginia,1.0,2.0,38.0,111 | 307,0 | 0 | 0,0.0,5 | 12 | 17,365.0,2021
100,Wisconsin,4.0,43.0,261.0,474 | 949,0 | 0 | 0,1.0,17 | 35 | 52,1310.0,2021
101,Wyoming,0.0,9.0,9.0,70 | 184,0 | 0 | 0,0.0,6 | 14 | 20,222.0,2021

In [54]:
df_final['Year'].unique()

array([2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011,
       2010, 2009, 2008, 2007])

In [55]:
df_final['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [56]:
analizar_dataframe(df_final, 0)

In [20]:
'''
total_columnas = df_hojas.shape[1]

for i in range(total_columnas):
    print(i)
    if df_hojas.columns[i] in column_mapping[i]:
        print(f"columna correcta: {df_hojas.columns[i]}")
    else:
        print(f"columna incorrecta: {df_hojas.columns[i]}")

        # Obtener el nombre correcto de la columna del diccionario column_mapping
        nombre_correcto = column_mapping.get(i)

        if nombre_correcto:
            df_hojas.rename(columns={df_hojas.columns[i]: nombre_correcto}, inplace=True)
            print("Corregida!")
        else:
            print("No hay mapeo encontrado.")
'''

'\ntotal_columnas = df_hojas.shape[1]\n\nfor i in range(total_columnas):\n    print(i)\n    if df_hojas.columns[i] in column_mapping[i]:\n        print(f"columna correcta: {df_hojas.columns[i]}")\n    else:\n        print(f"columna incorrecta: {df_hojas.columns[i]}")\n\n        # Obtener el nombre correcto de la columna del diccionario column_mapping\n        nombre_correcto = column_mapping.get(i)\n\n        if nombre_correcto:\n            df_hojas.rename(columns={df_hojas.columns[i]: nombre_correcto}, inplace=True)\n            print("Corregida!")\n        else:\n            print("No hay mapeo encontrado.")\n'

In [21]:
'''
# Procesa los registros seg√∫n el semaforo de complejidad
      for index, row in df_hojas.iterrows():
        if row['State'] == 'Total':
          x = row['Year']
          print(x)

          if x in range(2020, 2022):
              print('RED')
              df_hojas.drop(df_hojas[df_hojas['State'] == 'Total'].index, inplace=True)
              df_hojas.drop(df_hojas[df_hojas['State'].isna()].index, inplace=True)

              df_hojas = df_hojas[df_hojas['State'].str.len() <= 50]

          elif x in range(2014, 2020):
            # Eliminar filas donde el valor de 'State' es 'Total'
            df_hojas.drop(df_hojas[df_hojas['State'] == 'Total'].index, inplace=True)

            # Eliminar filas donde el valor de 'State' es NaN
            df_hojas.drop(df_hojas[df_hojas['State'].isna()].index, inplace=True)

            print('YELLOW')

          elif x in range(2007, 2014):
              print('GREEN')
              df_hojas.drop(df_hojas[df_hojas['State'] == 'Total'].index, inplace=True)
              df_hojas.drop(df_hojas[df_hojas['State'].isna()].index, inplace=True)
          else:
              print("x est√° fuera de los rangos especificados")
'''

'\n# Procesa los registros seg√∫n el semaforo de complejidad\n      for index, row in df_hojas.iterrows():\n        if row[\'State\'] == \'Total\':\n          x = row[\'Year\']\n          print(x)\n\n          if x in range(2020, 2022):\n              print(\'RED\')\n              df_hojas.drop(df_hojas[df_hojas[\'State\'] == \'Total\'].index, inplace=True)\n              df_hojas.drop(df_hojas[df_hojas[\'State\'].isna()].index, inplace=True)\n\n              df_hojas = df_hojas[df_hojas[\'State\'].str.len() <= 50]\n\n          elif x in range(2014, 2020):\n            # Eliminar filas donde el valor de \'State\' es \'Total\'\n            df_hojas.drop(df_hojas[df_hojas[\'State\'] == \'Total\'].index, inplace=True)\n\n            # Eliminar filas donde el valor de \'State\' es NaN\n            df_hojas.drop(df_hojas[df_hojas[\'State\'].isna()].index, inplace=True)\n\n            print(\'YELLOW\')\n\n          elif x in range(2007, 2014):\n              print(\'GREEN\')\n              df_hojas.drop(df_hojas[df_hojas[\'State\'] == \'Total\'].index, inplace=True)\n              df_hojas.drop(df_hojas[df_hojas[\'State\'].isna()].index, inplace=True)\n          else:\n              print("x est√° fuera de los rangos especificados")\n'

## Reading the excel file

## Stations

In [57]:
df_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70406 entries, 0 to 70405
Data columns (total 65 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Fuel Type Code                    70406 non-null  object
 1   Station Name                      70406 non-null  object
 2   Street Address                    70405 non-null  object
 3   Intersection Directions           4492 non-null   object
 4   City                              70406 non-null  object
 5   State                             70406 non-null  object
 6   ZIP                               70405 non-null  object
 7   Plus4                             0 non-null      float64
 8   Station Phone                     65204 non-null  object
 9   Status Code                       70406 non-null  object
 10  Expected Date                     1218 non-null   object
 11  Groups With Access Code           70406 non-null  object
 12  Access Days Time                  66628 non-null  object
 13  Cards Accepted                    11289 non-null  object
 14  BD Blends                         1217 non-null   object
 15  NG Fill Type Code                 1603 non-null   object
 16  NG PSI                            1597 non-null   object
 17  EV Level1 EVSE Num                286 non-null    float64
 18  EV Level2 EVSE Num                54144 non-null  float64
 19  EV DC Fast Count                  8307 non-null   float64
 20  EV Other Info                     49 non-null     object
 21  EV Network                        60907 non-null  object
 22  EV Network Web                    50305 non-null  object
 23  Geocode Status                    70391 non-null  object
 24  Latitude                          70406 non-null  float64
 25  Longitude                         70406 non-null  float64
 26  Date Last Confirmed               70188 non-null  object
 27  ID                                70406 non-null  int64
 28  Updated At                        70406 non-null  object
 29  Owner Type Code                   30190 non-null  object
 30  Federal Agency ID                 955 non-null    float64
 31  Federal Agency Name               955 non-null    object
 32  Open Date                         69310 non-null  object
 33  Hydrogen Status Link              83 non-null     object
 34  NG Vehicle Class                  1780 non-null   object
 35  LPG Primary                       1867 non-null   object
 36  E85 Blender Pump                  4508 non-null   object
 37  EV Connector Types                60690 non-null  object
 38  Country                           70406 non-null  object
 39  Intersection Directions (French)  188 non-null    object
 40  Access Days Time (French)         6591 non-null   object
 41  BD Blends (French)                2 non-null      object
 42  Groups With Access Code (French)  70406 non-null  object
 43  Hydrogen Is Retail                117 non-null    object
 44  Access Code                       70406 non-null  object
 45  Access Detail Code                7423 non-null   object
 46  Federal Agency Code               955 non-null    object
 47  Facility Type                     27665 non-null  object
 48  CNG Dispenser Num                 1039 non-null   float64
 49  CNG On-Site Renewable Source      716 non-null    object
 50  CNG Total Compression Capacity    708 non-null    float64
 51  CNG Storage Capacity              357 non-null    float64
 52  LNG On-Site Renewable Source      62 non-null     object
 53  E85 Other Ethanol Blends          1458 non-null   object
 54  EV Pricing                        16961 non-null  object
 55  EV Pricing (French)               2032 non-null   object
 56  LPG Nozzle Types                  1826 non-null   object
 57  Hydrogen Pressures                116 non-null    object
 58  Hydrogen Standards                116 non-null    object
 59  CNG Fill Type Code                1603 non-null   object
 60  CNG PSI                           1597 non-null   object
 61  CNG Vehicle Class                 1622 non-null   object
 62  LNG Vehicle Class                 158 non-null    object
 63  EV On-Site Renewable Source       370 non-null    object
 64  Restricted Access                 53435 non-null  object
dtypes: float64(10), int64(1), object(54)
memory usage: 34.9+ MB

In [24]:
df_stations.head(5)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3188,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False

In [25]:
analizar_dataframe(df_stations, 90)

In [26]:
df_stations.isna().sum().sort_values(ascending=False)

Plus4                           70406
BD Blends (French)              70404
EV Other Info                   70357
LNG On-Site Renewable Source    70344
Hydrogen Status Link            70323
                                ...
ID                                  0
Updated At                          0
Station Name                        0
Country                             0
Fuel Type Code                      0
Length: 65, dtype: int64

In [27]:
df_stations['LNG Vehicle Class'].unique()

array([nan, 'HD'], dtype=object)

![image.png]()

In [28]:
ev_connector_types = ["J1772",
                      "CHADEMO",
                      "COMBO",
                      "NEMA515",
                      "NEMA520",
                      "NEMA1450",
                      "TESLA"
                      ""
                      ]

In [29]:
# Completa los valores NaN con el valor 'unknown'
df_stations['EV Connector Types'].fillna('unknown', inplace=True)

In [30]:
df_stations['EV Connector Types'].value_counts()

EV Connector Types
J1772                               47190
unknown                              9716
CHADEMO J1772COMBO                   4357
TESLA                                3892
J1772 TESLA                          2834
CHADEMO J1772 J1772COMBO             1061
J1772COMBO                            519
CHADEMO J1772                         331
J1772 J1772COMBO                      134
J1772 NEMA515                         122
CHADEMO                               112
J1772 NEMA520                          95
J1772 NEMA1450                         23
CHADEMO J1772 J1772COMBO TESLA          6
CHADEMO J1772COMBO TESLA                2
CHADEMO J1772 NEMA520                   1
J1772COMBO TESLA                        1
J1772COMBO NEMA515                      1
CHADEMO J1772 J1772COMBO NEMA520        1
NEMA1450 TESLA                          1
CHADEMO NEMA520                         1
J1772 NEMA515 NEMA520                   1
J1772COMBO NEMA520                      1
CHADEMO J1772COMBO NEMA520              1
CHADEMO J1772 NEMA520 TESLA             1
CHADEMO J1772 NEMA515                   1
NEMA1450                                1
Name: count, dtype: int64

In [31]:

df_stations['EV Connector Types'] = df_stations['EV Connector Types'].replace('J1772 J1772COMBO', 'J1772 COMBO')

In [32]:
# prompt: buscar 'tesla' en df_stations['EV Connector Types']

mask = df_stations['EV Connector Types'].str.contains('CHADEMO')
df_stations[mask]

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
156,ELEC,LADWP - Truesdale Center,11797 Truesdale St,NaN,Sun Valley,CA,91352,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,ELEC,LADWP - John Ferraro Building,111 N Hope St,Across Hope,Los Angeles,CA,90012,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,ELEC,LADWP - Haynes Power Plant,6801 E 2nd St,NaN,Long Beach,CA,90803,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,ELEC,LADWP - EV Service Center,1630 N Main St,NaN,Los Angeles,CA,90012,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1588,ELEC,LADWP - Valley Center Admin Lot,14401 Saticoy St,At Van Nuys Blvd,Van Nuys,CA,91405,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70236,ELEC,ECG MSC DC 1,3299 Cooley Mesa Rd,NaN,Gypsum,CO,81637,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70275,ELEC,SNOPUD POWERED MUEVE3105 #2,2320 California St,NaN,Everett,WA,98201,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70276,ELEC,SNOPUD POWERED MUEVE3105 #1,2320 California St,NaN,Everett,WA,98201,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70395,ELEC,EVolveNY Salamanca,768 Broad Street,NaN,Salamanca,NY,14779,NaN,855-900-7584,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70403,ELEC,Raley's,6119 Horseshoe Bar Rd,NaN,Loomis,CA,95650,NaN,877-455-3833,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_stations['EV Connector Types'].unique()

array(['unknown', 'CHADEMO J1772 J1772COMBO', 'J1772', 'CHADEMO J1772',
       'J1772 NEMA520', 'J1772 NEMA515', 'J1772 TESLA',
       'CHADEMO J1772 NEMA515', 'J1772 COMBO', 'J1772 NEMA1450', 'TESLA',
       'CHADEMO', 'CHADEMO J1772 NEMA520 TESLA', 'CHADEMO J1772COMBO',
       'CHADEMO J1772 J1772COMBO TESLA', 'J1772COMBO',
       'CHADEMO J1772COMBO NEMA520', 'CHADEMO NEMA520',
       'J1772COMBO NEMA520', 'J1772 NEMA515 NEMA520',
       'CHADEMO J1772 NEMA520', 'NEMA1450 TESLA',
       'CHADEMO J1772 J1772COMBO NEMA520', 'CHADEMO J1772COMBO TESLA',
       'J1772COMBO NEMA515', 'J1772COMBO TESLA', 'NEMA1450'], dtype=object)

In [34]:
df_stations['EV Other Info'].unique()

array([nan, '1 SP Inductive', '3 SP Inductive', '2 Tesla Conductive',
       '1 Tesla Conductive', '1 Conductive 120V', '7 Conductive 120V',
       '1 LP Inductive', 'DCFC', 'L2'], dtype=object)

In [35]:
df_stations['EV Pricing'].unique()

array([nan, 'Free', 'Pay to Park', 'Free; parking fee',
       '$2 service fee; $0.45 per kWh', '$12 parking fee',
       '$7 per session', 'Free; parking is $8 per day.',
       '$0.30 per kWh; $0.45 per kWh from 4pm-9pm',
       '$1 per hour for first two hours; $3 per hour thereafter',
       'Free; $6.00 for parking day pass for non-permit holders',
       '$20 parking fee', '$9 parking fee',
       "Pay for garage' charging is free", '$1.50/hr', '$2 parking fee',
       '$0.75 per hour parking fee',
       '$1 per first and second half-hour parking fee; $1 per each additional hour parking fee',
       'Free; metered parking', 'Free; meter charge', '$10 per session',
       'Free for guests; $10 for non-guests',
       '$5 per session, customers pay up to $20 for leaving car connected after done charging',
       '$6 per session', '$1 per hour', '$0.25 per hour parking fee',
       '$1.50 per hour', 'Variable fee', '$0.13 per kWh',
       '$1 per hour parking fee; Maximum session time of 2 hours',
       '$2 per hour', '$6 per charge', '$25 parking fee',
       'Free; 3 hour parking limit', 'Free; requires GreenLots app',
       'Variable parking fee', '$2 per session', 'Fee required',
       '$2 for first hour, $1 per each hour thereafter',
       '$1 per half hour parking fee; maximum payment of $16',
       '$1 per half hour parking fee, Maximum payment of $16',
       '$2.00 per hour', 'Free for guests', '$15 per session',
       '$3 for first hour; then $5 per hour', 'Free; Pay to park',
       '$2 per hour; Maximum session time of 4 hours',
       '$7 for EV and parking permit', '$5 parking fee',
       'Free chargers - garage parking rates', 'EV pay to park',
       'Free but payment system is going to be installed', '$2 per hr',
       'Free for customers', '$1.20 per hour; $0.35 transaction fee',
       '$5 per hour for non-customers',
       '$7 per day; Free for vehicles with electric vehicle licence plates',
       'Pay to park; Free to charge',
       '$7 per session; Free with electric vehicle licence plate',
       '$4 per hour',
       '$7 per session; Free with electric vehicle license plate',
       '$5 per session for non-guests', 'Free; $21 per day parking fee',
       '$2 per hour parking fee', '$0.25 per kWh; parking fee',
       'Free, only while shopping in Publix',
       'Free for first 2 hours; $5 per hour thereafter',
       'Free for first 1 hour; $5 per hour thereafter',
       '$1 per hour; Maximum payment of $3',
       '$3 per session for ticket holders; $1 per hour parking fee',
       '$1.25 per 20 minutes',
       '$1.50 for 1 hour, $2.50 for 2 hours, $5.00 for 4 hours',
       '$0.75 per hour', '$0.25 per hour',
       '$20 per session for non guests', '$0.50 per hour',
       '$5 per session', '$12 per session', '$0.23 per kWh',
       'Free; Need key card from desk', '$0.35 per kWh', '$5 per hour',
       '$3 per session', '$1 per hour; 3 hour maximum',
       '$0.45 per kWh from 4pm-9pm; $0.30 per kWh at all other times',
       'Maximum payment of $15 for customers; Maximum payment of $29.95 for non-customers',
       '$5 per 4 hour session', '$0.12 per kWh; free for employees',
       '$1 for first five hours; $5 per hour thereafter',
       'Free; Parking fee',
       '$6.00 for parking day pass for non-permit holders',
       'Free for guest',
       'Level 2: $4 per session or $19.99 for monthly plan',
       'DC Fast: $7.50 per session or $19.99 for monthly plan, Level 2: $4 per session or $19.99 for monthly plan',
       'Level 2: $4 per session or $19.99 for monthly plan, DC Fast: $7.50 per session or $19.99 for monthly plan',
       '$0.20 per kWh', '$3 per hour', '$0.99 per hour',
       '$2 per hour for first two hours, $4 per hour thereafter',
       '$2 per hour for first 2 hours, $3 hour each additional hour',
       'Free; Maximum session time of 2 hours',
       '$1 per hour for first 2 hours; $5 per hour thereafter',
       'Free for 30 minutes; $10 after first 30 minutes',
       '$5 for 2 hours', 'Free; donations accepted', '$0.50 per kWh',
       '$25 parking fee for non-guests', 'Free; pay garage',
       'Free for clients; $1.50 per hour for non-clients',
       'Free for hotel guests; $20 for non-hotel guests',
       '$15 per month for JUMPSMART volunteers; $30 per month for non-volunteers',
       '$1.50 per session plus an additional $0.10 per minute',
       'Free; $3 per hour to park', 'Free to charge; Pay to park',
       '$2 per charge; $0.28 per kW', '$10 parking fee',
       '$8 parking fee in garage',
       '$1 per hour for first four hours; $10 per hour thereafter',
       '$0.10 per kWh', 'Level 2: $1 per hour; DC fast: $5 per hour',
       'Free; Pay for parking',
       'Free charging; pay to park unless you have a parking permit',
       '$0.25 per kWh',
       'DC Fast: $7.50 per session or $19.99 for monthly plan',
       'Free for first 3 hours, $3.00 per hour thereafter',
       '$2-$4 per hour', '$0.30 per kWh', '$0.50 per hour, $0.30 per kWh',
       '$.50/KWh for the first 4 hours; $1.50 per hour after the first 4 hours; $10 maximum per session',
       '$0.50/kWh first 4 hours;$1.50/hour after 4 hours\r\nMaximum charging fee: $10.00',
       '$1 per hour parking fee', '$0.59 per kWh',
       '$1.50 per hour for general public, $1 per hour for NAU faculty, staff, and students',
       '$1.50 per hour for general public; $1 per hour for NAU faculty, staff, and students',
       'Drivers must make minimum $75 membership donation annually to SACE to have access to charger',
       '$1 per hour 5:30pm-7am', 'Parking fee',
       'Minimum payment of $5; Maximum payment of $15; Maximum session time of 1 hour',
       '$1 per hour; free for customers',
       'Free to charge; $3 per hour for parking', 'Free; 4 hour limit',
       'Free for monthly parkers', '$1.25 per hour',
       'DC fast: $0.23 per kWh', '$2 per 30 minutes', '$2.20 per hour',
       '$0.40/kWh', 'Free with parking fee',
       'Contact site host for details',
       'Free; Charge for maximum of 4 hours',
       'L1: $0.89 per kWh; L2: $1.40 per kWh',
       '$23 early bird (before 9am), $30 after, regardless of charging time. Pay at garage office.',
       'Free during week day; $6.00 holidays and weekends',
       'Free; Donations encouraged',
       'Free after 4 PM; free following parking payment during hours of operation',
       '$5 per charge for others, reception closes at 10 PM',
       'Free for guest use; $9 per session for the public',
       '$25 per day for hotel guests, hourly rate available for public',
       '$2.50 per session', 'free for employees', '$6.50 per session',
       '$1 per hour for public; free for employees',
       '$2 per hour; accepts quarters ($0.25) only',
       'L2: Free; DC Fast: $0.33 per minute',
       'L2: $0.33 per minute; DC Fast: $0.33 per minute',
       '$1 per hour; free for employees', 'Free for employees',
       'Free for guests; $10 per session for non-guests',
       'Free for guests; $8 per session for non-guests',
       'Free for guests; $10 per session for nonguests', '$15 overnight',
       'Free; variable parking fee',
       '$2 per hour parking fee; Maximum session time of 4 hours',
       'Free for guests; $5 flat fee for non-guests', '1.00$CAD per hour',
       'Free with paid parking', 'Variable price', '$30 per day',
       'Free for tenant use;\r\n$5 per session for public',
       'Fee (but unknown by the POC)',
       '$0.44 per minute above 60 kW and $0.22 per minute at or below 60 kW',
       'Level 2: $5 for first hour, $12 per hour after; DC Fast: $5 per hour for first hour, $24 per hour after',
       'Variable parking and charging fees',
       'Monthly fee for tenants, free for restaurant patrons',
       '$46 parking fee',
       'Free for guests; $5 per session for non-guests', '$24 per hour',
       '$24 per hour; $5 fee',
       'Free for clients; $7/hour for non clients during business hours',
       '$3 per hour first 4 hours, $6 per hour for any additional hours',
       'Charging free, parking fee required', '$1 per session',
       'Free; parking fee required', 'Parking fee required',
       'Free with cost of parking',
       'Free 7:30am-4:00pm M-F; $2.00 per hour for first hour, $5.00 per hour after at all other times',
       '$3.50 per hour for first hour, $4 per hour after', 'Variable Fee',
       'Variable prices',
       '$3.95 session fee + $0.20 per minute or $16.95 flat station fee',
       'Level 2: $2 per hour; DC Fast: $16 per hour',
       'Free for guests; $2.50 per session for nonguests',
       'L2: $8 per session; Tesla: $10 per session',
       'DC fast: $0.35 per kWh; $2 minimum', 'Free; Variable parking fee',
       'Free for clients', '$1.50 fee; $0.05 per minute', '$12 per hour',
       'Variable parking and session fee',
       '$5 first hour, $0.20 per min after first hour',
       '$12 per hour; $3 fee',
       'Level 2: $1.50 per session + $3.00 charge rate + $0.20 per min dwell charge_x000D_\r\nDC fast: $3.95 per session + $5.00 charge rate + $0.40 per min dwell charge',
       'Level 2: $12 per hour; DC Fast: $24 per hour',
       'Free; Parking fee required',
       '$0.25 per minute; $0.20 per minute for NASA employees',
       '$1.50 per hour; Need Liberty Hydra App to obtain access code',
       'Level 2: Free; DC Fast: $0.08 per minute for first 30 minutes, $0.20 per minute thereafter',
       '$0.30 per kWh for first three hours; $10 fee thereafter',
       '$0.15 per kWh', '$50 refundable deposit per session',
       '$3.95 fee, $0.20 per minute', 'Payment through SemaConnect',
       '$0.11 per kWh', '$15 per month', '$1.50 fee + $0.05 per minute',
       '$3 per month', '$0.21 per minute', 'DCFC: $0.21 per minute',
       'free', '$3.95 plus $0.16 per minute', '$0.32 per kWh',
       '$5 per 4 hour session for non-guests', '$1.99 per hour',
       '$0.18 per kWh', 'Level 2: $0.59 per kWh',
       'Level 2: $0.49 per kWh', 'Level 2: $0.03 per 30 seconds',
       'Level 2: $0.28 per kWh', 'Level 2: $0.55 per kWh',
       'Pricing is based on PG&E rate; minimum $0.20 per kWh, maximum $0.56 per kWh',
       'Free; pay to park',
       '$1.35 per hour for first 4 hours, $3.00 per hour thereafter',
       '$1 initiation fee + $0.32 per minute',
       'Free; must pay park entrance fee',
       '$0.28 per kWh; $0.26 per minute above 60 kW and $0.13 per minute at or below 60 kW',
       'Donations accepted',
       '$0.18 per kWh for 20 minutes, $20 per hour after; parking fee',
       '$0.10 per kWh; parking fee', '$0.10 per kWh; pay parking',
       '$20 per session for non-guests',
       'Free; $2.0 per hour parking fee', '$0.29 per kWh', 'L2: Free',
       'Level 2: free; DC fast: fee required',
       '$2 per hour for first hour, $20 per hour thereafter',
       '$1 per hour for first 4 hours, $3 per hour thereafter',
       '$2 per hour; free overnight charging',
       '$1 per hour; free overnight charging', '$2.50 per hour',
       'Free to charge', 'Free for guest use; $20 fee for non-guest use',
       '$0.27 per kw', 'Free to faculty with pass; $5 for visitors',
       'By kWh', '$0.42 per kWh', '$1 per hour; 4 hour limit',
       '$1 per kWh',
       '$0.35 per kWh from 4-9pm, $0.30 per kWh all other times',
       'Valet fee overnight', 'Free for guest; $5 per charge for public',
       '$0.16 per kWh', '$.30 per kWh', 'Pricing varies by kWh',
       '$4.17 per month through Austin Energy‚Äôs Plug-In EVerywhere‚Ñ† program',
       'L2: $1.50 per hour; DC Fast: $15 per hour', '$0.30 per minute',
       'DC Fast: $0.33 per minute', 'L2: Free; DC Fast: $0.20 per minute',
       '$0.33 per minute',
       '$0.49 per kWh from 6am9am; 4pm-7pm; $0.29 per kWh remaining hours 7 days per week',
       '$3.33 per hour', '$1 initiation fee + $1.15 per hour',
       'Free for guests; $0.11 per kWh for visitors',
       '$1.50 per hour for first 3 hours; $5 per hour following',
       '$0.15 per kWh for the first two hours of use; $1.50 per hour after first two hours of use',
       '$0.15 per kWh for the first two hours of use; $1.50 per hour after first two hours',
       '$2 per hour; $3 per hour when not charging', '$0.45 per hour',
       '$3 month or hourly garage rate',
       '$3 per month or hourly garage rate', '$3 per hour or garage rate',
       '$1.00/Hr Parking Fee', 'FREE',
       '$0.00-$0.75/Hr Variable Parking Fee',
       '$0.00-$10.00/Hr Variable Parking Fee', '$2.00/Hr Parking Fee',
       '$1.70/Hr Parking Fee',
       '$10.00/Hr Parking Fee , $0.20/kWh Energy Fee',
       '$1.75/Hr Parking Fee', '$1.50/Hr Parking Fee',
       '$0.00-$2.00/Hr Variable Parking Fee', '$0.35/Hr Parking Fee',
       '$0.00-$5.00/Hr Variable Parking Fee',
       '$0.00-$1.50/Hr Variable Parking Fee, $0.15/kWh Energy Fee',
       '$2.00-$3.00/Hr Variable Parking Fee',
       '$0.00-$3.00/Hr Variable Parking Fee',
       '$1.00-$5.00/Hr Variable Parking Fee',
       '$0.55-$15.00/Hr Variable Parking Fee', '$0.20/kWh Energy Fee',
       '$0.00-$10.00/Hr Variable Parking Fee, $0.08/kWh Energy Fee',
       '$2.00-$5.00/Hr Variable Parking Fee',
       '$0.85-$5.00/Hr Variable Parking Fee',
       '$2.00/Hr Parking Fee , $0.12/kWh Energy Fee',
       '$0.35/kWh Energy Fee', '$1.00-$3.00/Hr Variable Parking Fee',
       '$1.35/Hr Parking Fee', '$0.13/kWh Energy Fee',
       '$0.00-$1.00/Hr Variable Parking Fee',
       '$0.00-$20.00/Hr Variable Parking Fee',
       '$1.00-$2.00/Hr Variable Parking Fee, $0.20/kWh Energy Fee',
       '$0.00-$1.35/Hr Variable Parking Fee',
       '$10.00-$20.00/Hr Variable Parking Fee',
       '$1.50-$7.00/Hr Variable Parking Fee',
       '$0.00-$8.00/Hr Variable Parking Fee, $0.13/kWh Energy Fee',
       '$0.00-$1.00/Hr Variable Parking Fee, $0.15/kWh Energy Fee',
       '$1.00-$8.00/Hr Variable Parking Fee',
       '$0.00-$15.00/Hr Variable Parking Fee', '$0.06/kWh Energy Fee',
       '$0.10/kWh Energy Fee', '$1.99/Hr Parking Fee',
       '$0.00-$0.25/kWh Variable Energy Fee',
       '$0.99-$5.00/Hr Variable Parking Fee',
       '$0.60-$2.00/Hr Variable Parking Fee', '$0.25/kWh Energy Fee',
       '$1.75-$3.75/Hr Variable Parking Fee',
       '$1.00-$2.00/Hr Variable Parking Fee',
       '$1.00/Hr Parking Fee , $1.00/kWh Energy Fee',
       '$0.00-$3.00/Hr Variable Parking Fee, $0.00-$0.50/kWh Variable Energy Fee',
       '$0.00-$0.20/kWh Variable Energy Fee',
       '$0.50-$0.75/Hr Variable Parking Fee',
       '$1.00/Hr Parking Fee , $0.25/kWh Energy Fee',
       '$0.50-$0.95/Hr Variable Parking Fee',
       '$0.00-$5.00/Hr Variable Parking Fee, $0.20/kWh Energy Fee',
       '$0.00-$5.00/Hr Variable Parking Fee, $0.15/kWh Energy Fee',
       '$0.00-$2.00/Hr Variable Parking Fee, $0.13/kWh Energy Fee',
       '$0.07/kWh Energy Fee', '$0.50-$1.00/Hr Variable Parking Fee',
       '$0.15/kWh Energy Fee', '$0.12/kWh Energy Fee',
       '$0.00-$1.00/Hr Variable Parking Fee, $0.25/kWh Energy Fee',
       '$0.00-$1.00/Hr Variable Parking Fee, $0.32/kWh Energy Fee',
       '$0.00-$1.00/Hr Variable Parking Fee, $0.21/kWh Energy Fee',
       '$2.00-$6.00/Hr Variable Parking Fee',
       '$0.00-$6.00/Hr Variable Parking Fee',
       '$3.00/Hr Parking Fee , $0.92/kWh Energy Fee',
       '$3.00/Hr Parking Fee', '$0.00-$0.18/kWh Variable Energy Fee',
       '$0.32/kWh Energy Fee', '$1.00-$1.75/Hr Variable Parking Fee',
       '$0.00-$5.00/Hr Variable Parking Fee, $0.20-$0.25/kWh Variable Energy Fee',
       '$1.25-$5.00/Hr Variable Parking Fee',
       '$1.50-$5.00/Hr Variable Parking Fee',
       '$0.00-$1.50/Hr Variable Parking Fee, $0.20/kWh Energy Fee',
       '$0.00-$3.25/Hr Variable Parking Fee, $0.00-$0.25/kWh Variable Energy Fee',
       '$1.00/Hr Parking Fee , $0.20/kWh Energy Fee',
       '$0.15/Hr Parking Fee , $0.15/kWh Energy Fee',
       '$1.00-$3.50/Hr Variable Parking Fee',
       '$0.75-$2.00/Hr Variable Parking Fee',
       '$0.00-$25.00/Hr Variable Parking Fee',
       '$0.75-$5.00/Hr Variable Parking Fee',
       '$0.50-$5.00/Hr Variable Parking Fee',
       '$0.75-$3.00/Hr Variable Parking Fee', '$0.75/Hr Parking Fee',
       '$5.00-$12.00/Hr Variable Parking Fee',
       '$0.39/Hr Parking Fee , $0.39/kWh Energy Fee',
       '$0.10-$0.25/kWh Variable Energy Fee',
       '$1.00-$10.00/Hr Variable Parking Fee',
       '$2.50-$10.00/Hr Variable Parking Fee', '$0.17/kWh Energy Fee',
       '$0.50/Hr Parking Fee , $0.20/kWh Energy Fee',
       '$0.52/kWh Energy Fee',
       '$0.00-$5.00/Hr Variable Parking Fee, $0.16/kWh Energy Fee',
       '$2.00-$15.00/Hr Variable Parking Fee',
       '$1.00-$4.00/Hr Variable Parking Fee',
       '$1.25-$4.00/Hr Variable Parking Fee',
       '$1.00-$1.35/Hr Variable Parking Fee, $0.00-$0.20/kWh Variable Energy Fee',
       '$2.00-$8.00/Hr Variable Parking Fee', '$4.00/Hr Parking Fee',
       '$0.00-$5.00/Hr Variable Parking Fee, $0.25/kWh Energy Fee',
       '$0.00-$2.00/Hr Variable Parking Fee, $0.00-$0.14/kWh Variable Energy Fee',
       '$1.25-$3.00/Hr Variable Parking Fee',
       '$1.00-$7.00/Hr Variable Parking Fee',
       '$1.50-$2.00/Hr Variable Parking Fee', '$0.50/Hr Parking Fee',
       '$0.00-$5.00/Hr Variable Parking Fee, $0.00-$0.15/kWh Variable Energy Fee',
       '$2.50/Hr Parking Fee', '$0.18-$0.68/Hr Variable Parking Fee',
       '$1.00-$20.00/Hr Variable Parking Fee',
       '$0.50-$1.75/Hr Variable Parking Fee', '$0.50/kWh Energy Fee',
       '$0.00-$10.00/Hr Variable Parking Fee, $0.25/kWh Energy Fee',
       '$0.00-$0.15/kWh Variable Energy Fee',
       '$1.50-$10.00/Hr Variable Parking Fee', '$0.29/kWh Energy Fee',
       '$1.75-$2.50/Hr Variable Parking Fee',
       '$2.00-$10.00/Hr Variable Parking Fee',
       '$1.50-$4.50/Hr Variable Parking Fee',
       '$0.00-$26.00/Hr Variable Parking Fee',
       '$0.00-$0.50/Hr Variable Parking Fee',
       '$1.00-$15.00/Hr Variable Parking Fee',
       '$0.00-$1.00/Hr Variable Parking Fee, $0.18-$1.00/kWh Variable Energy Fee',
       'Level 2: $0.25 per kWh',
       '$1.00/Hr Parking Fee , $0.10/kWh Energy Fee',
       '$0.15/Hr Parking Fee , $0.10/kWh Energy Fee', 'EV Pay Parking',
       'Free for first 2 hours, $1 per hour thereafter', '$10 per charge',
       'Free for 1/2 hour', '$0.20 per kW, $2.00 minimum',
       '$0.15 per minute',
       '$1.00-$5.00/Hr Variable Parking Fee, $0.22/kWh Energy Fee',
       '$60 per month for unlimited use',
       '$1.50 per hour for first 2 hours; $2.50 per hour thereafter; minimum payment is $1.50; maximum payment is $8 per every 4 hours',
       '$0.60 per kWh', '$0.27 per minute', '$0.20 per minute',
       '$0.30 per kWh; $0.45/kWh from 4-9pm',
       'L2: Free; DCFC: Free for 30 minutes',
       'Free for first 3 hours; $3 per hour after',
       'Level 2: $0.16 per kWh; DC Fast: $0.3 per kWh',
       '3 hours free, $3 per hour', '$1.60 per hour; 4 hour limit',
       '$1.50-$2.50/Hr Variable Parking Fee',
       '$1.25-$3.50/Hr Variable Parking Fee',
       '$1.00-$5.00/Hr Variable Parking Fee, $0.15/kWh Energy Fee',
       '$2.00/kWh Energy Fee', 'Level 2: $0.15 per 30 minutes',
       'Free; donations encouraged', 'Free; GM vehicles only',
       '$3 per hour from 8am-9pm',
       'Level 2: $1 initiation fee + $1.15 per hour; DC Fast $1 initiation fee + $0.32 per minute',
       'L2: $1.50 per hour; DC: $0.35 per minute',
       'Level 2: $1.50 per hour; DC Fast: $0.35 per minute',
       'Free for 0-30 mins; $0.30 per kWh for 30-75 mins; $1.00 per kWh after 75 mins',
       '$0.49/kWh Energy Fee', '$1.50-$3.00/Hr Variable Parking Fee',
       '$0.5 per hour suggested donation',
       '$2.00/Hr Parking Fee , $0.20/kWh Energy Fee', '$0.18 per hour',
       '$0.24 per kWh', '$0.49 per kWh', '$0.22 per kWh',
       'Level 2: $0.21 per kWh', '$0.40 per kWh',
       'DC: per minute pricing; L2: Free',
       'DC: $5 initiation fee + $0.30 per minute; L2: Free',
       'L2:  $1 initiation fee + $1.15 per hour; DC: $1 initiation fee + $0.32 per minute',

In [36]:
df_stations['EV On-Site Renewable Source'].unique()

array([nan, 'SOLAR', 'WIND', 'HYDRO', 'NONE', 'WASTEWATER', 'LANDFILL'],
      dtype=object)

In [37]:
df_stations['BD Blends (French)'].unique()

array([nan, 'B100', 'B100, B50, B20'], dtype=object)

In [38]:
df_stations['Intersection Directions (French)'].unique()

array([nan, "A cot√© de l'office d'automobile",
       "A l'arri√®re du batiment avec une entr√©e tr√®s atroite",
       'Situ√É¬©e sur le c√É¬¥t√É¬© ouest du parc',
       'Quai de chargement 2 -En arri√®re du batiment',
       "20 km √†\xa0 l'ouest de Grand Falls-Windsor",
       "Situ√©e\xa0a l'intersection du stationnement, ou les bornes de recharge pour les VR se situent",
       'Situ√É¬©e sur le c√É¬¥t√É¬© du b√É¬¢timent dans la ruelle',
       'Coin arri√®re du b√¢timent',
       'Stationnement principal - Coin sud-est du b√¢timent',
       'Situ√É¬©e dans un nouveau projet sur la promenade Shepard, √É¬©loign√É¬© de tout b√É¬¢timent. La promenade Shepard est √É\xa0 votre droite lorsque que vous venez de la Trans Canada.',
       'Situ√© a la cit√© des enseignes communautaires pr√®s de la route dans un stationnement de cour de triage',
       "Par l'entr√©e principale", 'Sur la route 19A',
       'Entre la promenade Riverglen et la promenade Riveredge',
       "deux unit√É¬©s √É\xa0√Ç\xa0 l'ext√É¬©rieur, une unit√É¬© √É\xa0 l'int√É¬©rieur",
       "Situee a\xa0 l'arriere", 'Unit 300', 'Entre Sears et Old Navy',
       "Le stationnement en arri√®re du th√©√¢tre, situ√©e √† c√¥t√© de l'h√¥tel.",
       'Situ√© au Niveau 1B',
       "Situee a\xa0 l'entree Nord du Centre de Convention",
       "Apr√®s Sobeys dans le stationnement du centre d'achat, tournez √† droite √† l'auberge Claymore; borne de recharge √† l'arri√®re",
       "Situ√©e en avant du b√¢timent, √† droite de l'entr√©e principale",
       'Rue Albert S aux intersections de l√¢‚Ç¨‚Ñ¢Autoroute #1 et #6',
       '50 rue N-O et 130 ave N-O', '102 rue N-O et 111 ave N-O',
       '178 St NW et 103 Ave NW', '112 St et 89 Ave',
       'Stafford Dr N et 4 Ave N', 'Midpark Way SE et Midpark Bay SE',
       '29 rue et 37 avenue',
       'Edgar Industrial Dr et Edgar Industrial Crescent',
       '74 Ave NW et 42 St NW', 'Airport Rd et 34 St E',
       'Situ√©e sur les poteaux avant du btiment',
       "Entre le b√¢timent d'architecture et la biblioth√®que centrale",
       'Au deuxi√®me √©tage du stationnement', 'Stationnement num√©ro 30',
       'Stationnement num√©ro 31',
       "Situ√©e √† l'avant du b√¢timent de torr√©faction, √† la droite de l'entr√©e",
       "Deux unit√©s a l'ext√©rieur",
       'Situe sur le cote du marche, √É\xa0 la station de service',
       'Monkland √† Cavendish',
       'Situ√© √† 3 minutes de TransCanada √†\xa0 la sortie 506',
       'Situ√©e pr√®s du batiment de Sun Life, mais plus pr√®s de RBC',
       "Situ√©e entre la 1st avenue et l'avenue Fairview",
       'Situ√© √É\xa0 cot√© du Boulevard Nokola Tesla , √É\xa0 cot√© du Rims Transport',
       'Gare de stationnement niveau B',
       '√É‚Ç¨ l√¢‚Ç¨‚Ñ¢int√É¬©rieur du concessionaire',
       "Situ√©e sur le c√¥t√© est du b√¢timent de service, √† l'intersection",
       "Situ√©e pr√®s de l'Autoroute 1", 'Autoroute 23',
       "deux unit√©s √† l'ext√©rieur, une unit√©e √†\xa0 l'int√©rieur",
       'Niveau P5- sud', 'Autoroute 104 √† la sortie 12',
       'Yonge/Front et Wellington/Front',
       "une unit√É¬© √É\xa0√Ç\xa0 l'int√É¬©rieur; une unit√É¬© √É\xa0√Ç\xa0 l'ext√É¬©rieur",
       "une unit√© √É\xa0 l'ext√©rieur; deux unit√©s √É\xa0 l'interieur",
       'Cot√© du batiment',
       'Situ√©e dans le stationnement pour les employ√©s',
       'Stationnement dehors TOSTO',
       'Situ√É¬© dans la zone industrielle de Coteau-du-Lac',
       'Autoroute 2 et Autoroute 22',
       "une unit√© √†\xa0l'int√©rieur; deux unit√©s √† l'ext√©rieur",
       'Autoroute 16', 'Situ√É¬© au coin avant', 'Rue Range 32',
       'C√É¬¥t√É¬© nord du b√É¬¢timent', 'Situ√©e derri√®re le magasin',
       "Situ√©e √† la sortie de l'Autoroute 43 E",
       'Situ√©e dans le batiment Winemakers au nord du stationnement',
       "√Ä la sortie de l'Autoroute 19 sur la promenade Englewood. Sur le b√¢timent de la Station Green Transfer en face de la station d'essence.",
       '√É‚Ç¨ c√É¬¥t√É¬© de la station de pompiers',
       'Stationnement reserv√©e dans la rue, pr√®s du caf√© Blue Moose',
       'Situ√©e sur le mur est du b√¢timent municipal, orient√©e vers 8th avenue Nord',
       'Situ√É¬©e au niveau 1 du stationnement',
       "Situ√©e √†  l'arri√®re du building",
       'Situ√©e dans le stationnement sous-terrain',
       'Entrez via Finlayson St',
       'Situee dans le stationnement de NAR, a cote du carrefour giratoire',
       'Unit√© 101', 'Apt. 203', 'Chemin Jacklin et Sooke',
       'A√É¬©roport de Vancouver', 'Nord de l√¢‚Ç¨‚Ñ¢Autoroute 40',
       'Sur la route 138 et √É\xa0 l√¢‚Ç¨‚Ñ¢est de l√¢‚Ç¨‚Ñ¢Autoroute 40',
       'Le long du couloir 401', 'Lot 3',
       'Le mur ouest, √Ö peu pr√®s 5 m√®tres de la rue',
       'Situ√É¬©e dans le stationnement pr√É¬®s du Starbucks',
       "Une unite a l'interieur, deux unites a l'exterieur",
       "Une unite√© √† l'int√©rieur; une unite√© √†\xa0l'ext√©rieur",
       "une unit√©e √†\xa0l'int√©rieur; une unit√©e √†\xa0 l'ext√©rieur",
       'Entrez par la rue 13th, Vancouver Nord. Accessible seulement lorsque vous allez en direction ouest sur la 13th.',
       'Unit√© 1',
       'Deux unit√©s √É\xa0 la surface, Deux unit√©s sous-terraines',
       'Autour du coin du b√É¬¢timent',
       'Situ√©e pr√®s de la rue Queen et la rue Water',
       'Situ√©e dans le cul-de-sac',
       "Situ√© dans le parking du centre des op√©rations CNV, entrez de l'avenue Berwick",
       'Stationnement A , Porte 3A',
       "Une unit√É¬© √É\xa0√Ç\xa0l'int√É¬©rieur; une unit√É¬© √É\xa0 l'ext√É¬©rieur",
       'C√É¬¥t√É¬© du b√É¬¢timent',
       'Situ√É¬©e √É\xa0√Ç\xa0 2 promenade St.Lawrence et route Montreal',
       '√É‚Ç¨ la sortie de la 401 et #2',
       'Situ√É¬© en face de la chirurgie faciale orale et cosm√É¬©tique de la Nouvelle-Angleterre',
       '5 dans le garage est et 5 dans le garage ouest',
       "√Ö l'intersection de l'Autoroute 401 et l'Autoroute 59 S de Woodstock, On.",
       'Devant Uniboard Canada', 'Nord de Bobcaygeon sur la route 36',
       "Pr√®s de l'intersection de la rue Guelph et de la promenade McFarlane",
       'Intersection de l√¢‚Ç¨‚Ñ¢Autoroute 10 et de la Route #4',
       '√É‚Ç¨ l√¢‚Ç¨‚Ñ¢intersection de la rue Avenue et la rue Elgin N',
       'Autoroute 11 et la rue Beiers', 'Autoroute 16 Est',
       "Nord de la rue Township 540 et √† l'est de l'Autoroute 765",
       "Sur l'autoroute du Vicentennial 88, Pres de l intersection de l autoroute 986",
       'Sur la rue 95, entre avenue 114 et avenue 120',
       'Sur la rue 99, entre l√¢‚Ç¨‚Ñ¢avenue 101 et l√¢‚Ç¨‚Ñ¢avenue 105',
       'Pr√É¬®s de l√¢‚Ç¨‚Ñ¢intersection de la rue 64 et l√¢‚Ç¨‚Ñ¢avenue 64',
       "Pr√®s de l'intersection de la rue 75 et du cot√© de l'avenue 89",
       'RR 253/rue Terrault',
       'Pr√É¬®s de l√¢‚Ç¨‚Ñ¢intersection de l√¢‚Ç¨‚Ñ¢avenue 139 et la rue 99',
       'Autoroute 17 Sud',
       'Pr√É¬®s de l√¢‚Ç¨‚Ñ¢intersection des rues Smiley et Place Hope',
       'Intersection 1st ave et la rue Ottawa',
       "Pr√®s de l'intersection Avenue 16 et de la rue Maple",
       '2 km des rues Hill et Industrial',
       'Derri√®re le b√¢timent principal sur la rue North Market',
       'Entrep√¥t de stockage int√©rieur',
       "Universit√É¬© de l'ouest des rivi√É¬®res Thompson", 'Sortie 228',
       'Interstate 401 & County Rd 46, sortie 14',
       'Interstate 401 & Cnty Rd 41, sortie 579',
       'Interstate 401 & Highbury Ave sortie 189',
       '1250 chemin Craig et 1287 chemin de la Coop√É¬©rative',
       'Cot√É¬© est de York, au nord de Adelaide St',
       'Cot√É¬© ouest de Sheppard St, entre Richmond et Adelaide',
       'Ouest sur 102A Ave, cot√É¬© nord', 'Rue Stanley',
       'Sortie 268 ,relais routier "Flying J"',
       "Entre l'autoroute 19 et la rue Cedar", 'Autoroute 24', 'Unit√É¬© A',
       'Stationnement 23', 'Entrez de la 14√®me rue',
       'Situ√© pr√®s du batiment de s√©curit√©',
       'Situ√©e dans le stationnement de la rue Collins', 'Parking P15',
       'Parking P48', 'Parking P49',
       'Situ√© dans le stationnement du th√©√¢tre Centennial, entrez dans la 23e rue est',
       'Entr√©e de la rue Seymour', 'A Parking Garage West',
       "Situ√© √† Harvey's / Swiss Chalet", 'Shell Rd',
       'Autoroute 1 et chemin provincial 207',
       "A l'exterieur de McDonalds", 'Autoroute 1',
       '√Ä c√¥t√© du campus ICE centre 2200 Simcoe St N',
       'Situ√© √†  Water Tower Inn', 'Parc Jacques-de-Lesseps',
       'rue Mansfield and rue St- Jacques', 'Fleury / Chambord',
       'Papineau / Legendre',
       "Jonction de l'Autoroute 93 (Icefields Parkway), et de l'Autoroute 11",
       'Stationnement Sobeys', 'Parking P4',
       'Coin des chemins Ross River et Territorial', 'Stikine et 7th Av',
       "Intersection adjacente au lot 49, au large de la route de l'Alaska",
       'Clinical Skills Building'], dtype=object)

## Feature Reduction

In [39]:
try:
  df_stations.drop(["Plus4",
                    "LNG Vehicle Class",
                    "Intersection Directions (French)",
                    "Access Days Time (French)",
                    "Groups With Access Code (French)",
                    "LNG On-Site Renewable Source",
                    "EV Level1 EVSE Num",
                    "EV Other Info",
                    "Hydrogen Status Link",
                    "BD Blends (French)",
                    "Hydrogen Is Retail",
                    "CNG Storage Capacity",
                    "Hydrogen Pressures",
                    "Hydrogen Standards",
                    "EV On-Site Renewable Source"
                    ], axis=1, inplace=True)
  print("Se eliminaron las caracter√≠sticas solicitadas.")
except Exception as e:
    print("La caracter√≠stica no existe. ", e)

Se eliminaron las caracter√≠sticas solicitadas.

In [40]:
try:
  df_stations.drop(["EV DC Fast Count",
                    "Access Detail Code",
                    "E85 Blender Pump",
                    "Intersection Directions",
                    "EV Pricing (French)",
                    "LPG Primary",
                    "LPG Nozzle Types",
                    "NG Vehicle Class",
                    "CNG Vehicle Class",
                    "NG Fill Type Code",
                    "CNG Fill Type Code",
                    "CNG PSI",
                    "NG PSI",
                    "E85 Other Ethanol Blends",
                    "Expected Date",
                    "BD Blends",
                    "CNG Dispenser Num",
                    "Federal Agency Code",
                    "Federal Agency ID",
                    "Federal Agency Name",
                    "CNG On-Site Renewable Source",
                    "CNG Total Compression Capacity",
                    ], axis=1, inplace=True)
  print("Se eliminaron las caracter√≠sticas solicitadas.")
except Exception as e:
    print("La caracter√≠stica no existe. ", e)

Se eliminaron las caracter√≠sticas solicitadas.

In [41]:
try:
  df_stations.drop(["ID"
                    ], axis=1, inplace=True)
  print("Se eliminaron las caracter√≠sticas solicitadas.")
except Exception as e:
    print("La caracter√≠stica no existe. ", e)

Se eliminaron las caracter√≠sticas solicitadas.